* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #2e2329 url(imagens/fundo.png) repeat-x;
  height: 8vh;
  padding: 25px;
  position: fixed;
  width: 100%;
}

main {
  background: url("imagens/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  z-index: 2000;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 1200;

}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #2e2329;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;

  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

#conteudo {
  width: 49.4%;
  float: left;
  margin-left: 8.5%;
  margin-bottom: 20px;
}

aside {
  width: 350px;
  float: right;
  background: #ebe7dd;
  margin-right: 15.5%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

section#visita {
  width: 296px;
  background: #cdc8b1;
  padding: 10px 27px 27px 27px;
  margin-top: 10px;
}

section#galeria {

  padding: 0 27px 0 27px;
}

section#galeria a {
  display: block;
  background: url(imagens/fundo-foto.png) no-repeat;
  float: left;
  padding: 17px 17px 17px 17px;
  margin: 10 0 0 20px;
}

section#galeria img {
  margin-left: 2px;
  margin-top: 3px;
}

article#video {
  float: left;
  width: 310px;
  margin-left: 25px;
}

article#mapa {
  float: left;
  width: 310px;
  margin-left: 37px;
}

article#exposicoes {
  float: left;
  width: 310px;
  margin: 15px 0 0 25px;

}

#exposicoes li a {
  color: black;
}

article#historia {
  float: left;
  width: 310px;
  margin: 15px 0 0 37px;
}

h3 {
  color: #227115;
  font-size: 1.0em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h4 {
  color: #86521a;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 0;
}

/*Rodape*/

footer {
  clear: both;
  padding: 20px 0 30px 0;
  text-align: center;
  background: url(imagens/fundo-rodape.png) no-repeat center top;
  margin-top: 20px;
}

footer>p a {
  padding: 2px 10px;
  color: rgb(204, 136, 27);
}

/*Formulario*/

input {
  height: 20px;
  background: #fff;
  border: none;
  font-size: 1em;
}

input.campo {
  border: 1px solid #ada484;
}

input.botao {
  background: #9b9271;
  color: white;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
}

fieldset {
  border: none;
}

@media screen and (max-width: 1920px) {
  #capa img {
    width: 100%;
  }

  #principal {
    position: absolute;
    margin-top: 85px;
    margin-left: 2%;
  }

  aside {
    margin-left: -50px;

  }

}

@media (min-width: 605px) and (max-width: 1023px) {

  #capa img {
    width: 100%;
  }

  #principal {
    margin-top: 76px;
    margin-left: -15px;
  }

  footer {
    margin-left: -35%;
  }

  aside {
    margin-left: 300px;
    float: right;
    margin-top: -1011px !important;
    margin: 50px;
  }

  .nav-list {
    width: 100%;
    margin-left: -25px;    
  }


}

@media screen and (max-width: 600px) { 
  #capa img {
    width: 162%;
  }

  .mapa-reposivo {
    width: 110%;
    margin-left: -11%;
  }

  .tamanho-video {
    width: 112%;
    margin-left: -8%;

  }

  footer {
    background: url(imagens/fundo-rodape.png) no-repeat top;
    text-align: center;
    margin-left: -10%;
  }

  #principal {
    margin-left: 10%;
    margin-top: 21.5%;
    z-index: -1200;
  }

}